@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500;600;700&family=Zen+Loop&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'Raleway', sans-serif;
}
